* {
  all: initial;
}

@import "modules-styles/variables.css";
@import "modules-styles/fonts.css";
@import "modules-styles/group-window.css";
@import "modules-styles/pulseaudio-slider.css";
@import "modules-styles/temperature.css";


window#waybar {
  all: unset;
}

.modules-left,
.modules-right,
.modules-center {
  border-left: 4px solid @red0;
  border-right: 4px solid @red0;
  border-radius: 144px;
  padding: 0 14 0 14;
  animation: border-pulse 20s ease-in-out infinite alternate;
}

@keyframes border-pulse {
  0% {
    border-color: @purple0;
  }

  15% {
    border-color: @purple1;
  }

  30% {
    border-color: @red0;
  }

  45% {
    border-color: @orange0;
  }

  60% {
    border-color: @yellow0;
  }

  75% {
    border-color: @cyan0;
  }

  90% {
    border-color: @blue0;
  }

  100% {
    border-color: @purple2;
  }
}
