
window {
  border: 2px solid #4c566a;
}

#outer-box{
  background-color: #3b4252;
}

#input {
  margin-bottom: 10px;
  color: #e5e9f0;
  border: 1px solid #e5e9f0;
}

#entry {
  border-radius: 10px;
}

#entry:selected, #img:selected, #text:selected {
  background-color: #5e81ac;
  color: #2e3440;
}

#entry:selected {
  border: 0.75px solid #e5e9f0;
}
